body{
    margin: 200px;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    margin-bottom: 50px;
}

#btn{
    display: inline-block;
    width: 100%;
    height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.todoCard{
    position: relative;

}

.task{
    width: 250px;
    height: 350px;
    font-size: 20px;
    resize: none;
}

.delBtn{
    position: absolute;
    font-size: 30px;
    bottom: 5px;
    left: 225px;}